
/* @import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@600;800&family=Pacifico&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  */
header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 40px;
    padding-left: 50px;
    margin-left: 80px;
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
     font-weight: 400;
    
}
a{
    color: blanchedalmond;
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico' ;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight:900;
    color: white;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 50px;
    padding-right: 40px;
    margin-right: 30px;
    margin-right: 80px;
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
     font-weight: 400;
     cursor: pointer;
   
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(bakery.jpg);
    background-position: center;
    background-size: cover;
   background-repeat: no-repeat;
}
.subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h4{
    padding-top: 185px;
    font-family: 'Pacifico';
    color:#E6A65D;
    font-size: 19px;
    letter-spacing: 1px;
    text-transform: capitalize; 
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h1{
    padding-top: 10px;
    color: rgb(248, 242, 242);
    font-size: 55px;
    line-height: 1.2;
    font-weight: bolder;
    letter-spacing: -1;
    text-transform: uppercase;
    font-family: sans-serif;
}
.Quote{
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: rgb(242, 225, 225);
    padding-top: 5px;
    font-size: 13px;
    font-weight: bolder;
    font-family: cursive;
}
.button-container{
     display: flex;
    align-items: center;
    justify-content: center;
}
.btn-1{
    margin-top: 20px ;
    margin-right: 20px;
    padding: 5px 20px 5px 20px;
    background-color: #E6A65D;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-2{
    margin-top: 20px ;
    /* margin-right: 130px; */
    padding: 5px 18px 5px 18px;
    background-color:transparent;
    color:wheat;
    border: 1px solid;
    cursor: pointer;
}
